span.title {
    font-size: 32px;
}

span.user-panel {
    margin-top: 10px;
    float: right;
}
table {
    margin: 0 auto;
}

.captcha {
    margin-top: 7px;
    float: right;
    border: 2px solid rgb(230, 230, 230);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

img.captcha {

    cursor: pointer;
}